.form-horizontal {
	padding: 20px 0;
}

.icon--close {
	position: absolute;
	right: 20px;
	font-size: 16px;
	color: #333;
	top: 9px;

	cursor: pointer;
}

.btn-form {
	margin-left: 10px;
	margin-top: 10px;
}


.nested-nav {
	max-height: 0;
	overflow: hidden;
}

.nested-nav.nav-opened-add {
	-webkit-transition: max-height linear 0.5s;
	-moz-transition: max-height linear 0.55s;
	transition: max-height linear 0.55s;
}

.nested-nav.nav-opened-remove {
	-webkit-transition: max-height linear 0.4s;
	-moz-transition: max-height linear 0.4s;
	transition: max-height linear 0.4s;
}

.nested-nav.nav-opened {
	max-height: 135px;
	overflow: hidden;
}

.my-table td:last-child {
	min-width: 90px;
	width: 90px;
}

/** Editable table
------------------------- */

.editable-table > tbody > tr > td {
	padding: 4px
}
.editable-text {
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: inline-block;
}
.editable-table tbody > tr > td > .controls {
//width: 100%
}

.controls .radio-inline {
	height: 30px;
	padding-top: 6px;
	margin-left: 0;
	margin-right: 10px;
}

.controls .btn {
	font-size: 13px;
}

.editable-input {
	padding-left: 3px;
}
.editable-input.input-sm {
	height: 30px;
	font-size: 13px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.login_form.ng-hide-add,
.login_form.ng-hide-remove,
.registration_form.ng-hide-add,
.registration_form.ng-hide-remove {
	transition: all linear 0.5s;
}

.login_form {
	opacity: 1;
}

.login_form.ng-hide {
	opacity: 0;
}


.registration_form.ng-hide {
	opacity: 0;
}

.registration_form {
	opacity: 1;
}