.form-horizontal {
	padding: 20px 0;
}

.icon--close {
	position: absolute;
	right: 20px;
	font-size: 16px;
	color: #333;
	top: 9px;

	cursor: pointer;
}

.btn-form {
	margin-left: 10px;
	margin-top: 10px;
}