<div class="">
	<div class="page-title">
		<div class="title_left">
				<h3>{{title}}</h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Список преподаваемых на кафедре дисцилпин</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams"
							 class="table table-bordered table-hover table-condensed editable-table my-table"
							 ng-form="tableForm" disable-filter="isAdding">
					<colgroup>
						<col width="30%" />
						<col width="55%" />
						<col width="15%" />
					</colgroup>
					<tr ng-repeat="row in $data" ng-form="rowForm">

						<td data-title="'Название'" sortable="'shortName'"
								ng-class="shortName.$dirty ? 'bg-warning' : ''"
								ng-form="shortName">
							<span class="editable-text" ng-hide="row.isEditing">{{row.shortName}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="shortName.$invalid && shortName.$dirty ? 'has-error' : ''">
								<input type="text" name="shortName" ng-model="row.shortName"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'Полное название'" sortable="'fullName'"
								ng-class="fullName.$dirty ? 'bg-warning' : ''"
								ng-form="fullName">
							<span class="editable-text" ng-hide="row.isEditing">{{row.fullName}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="fullName.$invalid && fullName.$dirty ? 'has-error' : ''">
								<input type="text" name="fullName" ng-model="row.fullName"
											 class="editable-input form-control input-sm"/>
							</div>
						</td>

						<td>
							<button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing"
											ng-disabled="rowForm.$pristine || rowForm.$invalid">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"
											confirm-title="ВНИМАНИЕ!"
											confirm="Удаление дисциплины приведет к удалению ВСЕХ связанных с ней преподавателей,
											студентов и записей об их посещаемости и сданных нормативах.
											 Перенесите преподавателя на другую дисциплину,чтобы избежать потери данных.
											Удалить все равно?"
											confirm-ok="Да, удалить дисциплину" confirm-cancel="Нет, отмена">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown; discipline = {}">
						<span ng-hide="formShown">Добавить дисциплину</span>
						<span ng-show="formShown">Скрыть форму</span>
				</a>
				<form ng-show="formShown" class="form-horizontal" ng-submit="addDiscipline(discipline)"
							name="discForm" novalidate>
					<div class="form-group">
						<label for="name"></label>
							<div class="col-xs-6">
								<input ng-model="discipline.shortName" type="text" class="form-control" id="name"
											 placeholder="Название" required>
							</div>
					</div>
					<div class="form-group">
							<label for="post"></label>
							<div class="col-xs-6">
									<input ng-model="discipline.fullName" type="text" class="form-control" id="post"
												 placeholder="Полное название">
							</div>
					</div>

					<input ng-disabled="discForm.$invalid" type="submit" class="btn btn-primary btn-form"
								 value="Добавить дисциплину">
				</form>

			</div>
		</div>
	</div>
</div>
<!-- таблицы -->