<div class="">
	<div class="page-title">
		<div class="title_left">
				<h3>{{title}}<small></small></h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Список групп</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted font-13 m-b-30"></p>

				<table ng-table="tableParams"
							 class="table table-bordered table-hover table-condensed editable-table my-table"
							 ng-form="tableForm" disable-filter="isAdding">
					<colgroup>
						<col width="30%" />
						<col width="30%" />
						<col width="20%" />
						<col width="10%" />
					</colgroup>
					<tr ng-repeat="row in $data" ng-form="rowForm">

						<td data-title="'Номер группы'" sortable="'groupNumber'"
								ng-class="groupNumber.$dirty ? 'bg-warning' : ''"
								ng-form="groupNumber">
							<span class="editable-text" ng-hide="row.isEditing">{{row.groupNumber}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="groupNumber.$invalid && groupNumber.$dirty ? 'has-error' : ''">
								<input type="text" name="groupNumber" ng-model="row.groupNumber"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'Факультет'" sortable="'faculty'" filter="{faculty: 'text'}"
								ng-class="faculty.$dirty ? 'bg-warning' : ''"
								ng-form="faculty">
							<span class="editable-text" ng-hide="row.isEditing">{{row.faculty}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="faculty.$invalid && faculty.$dirty ? 'has-error' : ''">
								<input type="text" name="faculty" ng-model="row.faculty" class="editable-input form-control input-sm" required />
							</div>
						</td>

						<td data-title="'Курс'" sortable="'course'"
								ng-class="course.$dirty ? 'bg-warning' : ''"
								ng-form="course">
							<span class="editable-text" ng-hide="row.isEditing">{{row.course}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="course.$invalid && course.$dirty ? 'has-error' : ''">
								<input type="text" name="course" ng-model="row.course" class="editable-input form-control input-sm" required />
							</div>
						</td>

						<td>
							<button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing"
											ng-disabled="rowForm.$pristine || rowForm.$invalid">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"
											confirm-title="ВНИМАНИЕ!"
											confirm="Удаление группы приведет к удалению ВСЕХ связанных с ней студентов,
											записей об их посещаемости и сданных нормативах.
											Удалить все равно?"
											confirm-ok="Да, удалить группу" confirm-cancel="Нет, отмена">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown; group = {}">
						<span ng-hide="formShown">Добавить новую группу</span>
						<span ng-show="formShown">Скрыть форму</span>
				</a>

				<form ng-show="formShown" class="form-horizontal" ng-submit="addGroup(group)"
							name="groupForm" novalidate>
					<div class="form-group">
						<label for="name"></label>
							<div class="col-xs-6">
								<input ng-model="group.groupNumber" type="number" class="form-control" id="name"
											 placeholder="Номер группы" required>
							</div>
					</div>
					<div class="form-group">
							<label for="post"></label>
							<div class="col-xs-6">
									<input ng-model="group.faculty" type="text" class="form-control" id="post" placeholder="Факультет"
												 required>
							</div>
					</div>
					<div class="form-group">
							<label for="qualification"></label>
							<div class="col-xs-6">
								<input ng-model="group.course" type="number" class="form-control" id="qualification" placeholder="Курс"
											 required>
							</div>
					</div>

					<input type="submit" class="btn btn-primary btn-form" value="Добавить группу" ng-disabled="groupForm.$invalid">
				</form>

			</div>
		</div>
	</div>
</div>
<!-- таблицы -->