<div class="">
	<div class="page-title">
		<div class="title_left">
				<h3>{{title}}<small></small></h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Список групп</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted font-13 m-b-30"></p>

				<table ng-table="tableParams" class="table table-stripedtable-bordered">
					<tr ng-repeat="group in $data">
						<td data-title="'Номер группы'" sortable="'groupNumber'">{{group.groupNumber}}</td>
						<td data-title="'Факультет'" sortable="'faculty'">{{group.faculty}}</td>
						<td data-title="'Курс'" sortable="'course'">{{group.course}}</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown">
						<span ng-hide="formShown">Добавить новую группу</span>
						<span ng-show="formShown">Скрыть форму</span>
				</a>

				<form ng-show="formShown" class="form-horizontal" ng-submit="addGroup(group)">
					<div class="form-group">
						<label for="name"></label>
							<div class="col-xs-6">
								<input ng-model="group.groupNumber" type="text" class="form-control" id="name"
											 placeholder="Номер группы" required>
							</div>
					</div>
					<div class="form-group">
							<label for="post"></label>
							<div class="col-xs-6">
									<input ng-model="group.faculty" type="text" class="form-control" id="post" placeholder="Факультет"
												 required>
							</div>
					</div>
					<div class="form-group">
							<label for="qualification"></label>
							<div class="col-xs-6">
								<input ng-model="group.course" type="text" class="form-control" id="qualification" placeholder="Курс"
											 required>
							</div>
					</div>

					<input type="submit" class="btn btn-primary" value="Добавить группу">
				</form>

			</div>
		</div>
	</div>
</div>
<!-- таблицы -->