    <div class="login">
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="form login_form" ng-hide="registryForm">
          <section class="login_content">

            <form method="post" name="loginForm" ng-submit="login()" novalidate>
              <h1>Войти в систему</h1>
              <div>
                <input ng-model="user.email" type="text" class="form-control" placeholder="e-mail адрес" required="" />
              </div>
              <div>
                <input ng-model="user.password" type="password" class="form-control" placeholder="Пароль" required="" />
              </div>
              <div>
                <input class="btn btn-default submit" type="submit" value="Войти" ng-disabled="loginForm.$invalid">
                <!--<a class="reset_pass">Lost your password?</a>-->
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Еще не регистрировались в системе?
                  <a class="to_register" ng-click="registryForm = true"> Создать аккаунт </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-futbol-o"></i> АИС кафедры физвоспитания</h1>
                </div>
              </div>
            </form>

          </section>
        </div>

        <div id="register" class="form registration_form" ng-show="registryForm">
          <section class="login_content">

            <form method="post" ng-submit="signup()" name="signupForm" novalidate>
              <h1>Создать аккаунт</h1>
              <div ng-class="{ 'bad' : signupForm.name.$invalid && signupForm.name.$dirty }">
                <input ng-model="newUser.fio" type="text" class="form-control"
                       placeholder="ФИО" name="name"
                       required />
              </div>

              <div ng-class="{ 'bad' : signupForm.email.$invalid && signupForm.email.$dirty }">
                <input ng-model="newUser.email" type="email" class="form-control"
                       placeholder="Email" name="email"
                       required />
              </div>

              <div ng-class="{ 'bad' : signupForm.password.$invalid && signupForm.password.$dirty }">
                <input ng-model="newUser.password" type="password" class="form-control"
                       placeholder="Пароль" name="password"
                       required/>
              </div>
              <div ng-class="{ 'bad' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                <input password-match="newUser.password" type="password" class="form-control"
                       name="confirmPassword" placeholder="Подтвердите пароль" ng-model="confirmPassword"
                       required />
              </div>

              <div>
                <input class="btn btn-default submit" type="submit" value="Зарегистрироваться">
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Уже зарегистрированы?
                  <a class="to_register" ng-click="registryForm = false"> Войти </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-futbol-o"></i> АИС кафедры физвоспитания</h1>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>