<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>

		<div class="title_right">
			<h3><small></small></h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2>Список сданных нормативов</h2>
					<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams" class="table table-stripedtable-bordered">
					<tr ng-repeat="norm in $data">
						<td data-title="'Номер зачетки студента'" sortable="'uniqID'">{{norm.uniqID}}</td>
						<td data-title="'Название норматива'" sortable="'normName'">{{norm.normName}}</td>
						<td data-title="'Дата'" sortable="'date'">{{norm.date}}</td>
						<td data-title="'Результат'" sortable="'result'">{{norm.result}}</td>
						<td data-title="'Оценка'" sortable="'mark'">{{norm.mark}}</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown">
					<span ng-hide="formShown">Добавить сданный норматив</span>
					<span ng-show="formShown">Скрыть форму</span>
				</a>

				<form ng-show="formShown" class="form-horizontal" ng-submit="addPassedNorm(norm)">
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.uniqID" type="text" class="form-control" placeholder="ФИО студента" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<input ng-model="norm.normName" type="text" class="form-control" placeholder="Название норматива" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.date" type="text" class="form-control" placeholder="Дата" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.result" type="text" class="form-control" placeholder="Результат" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.mark" type="text" class="form-control" placeholder="Оценка" required>
						</div>
					</div>

					<input type="submit" class="btn btn-primary" value="Добавить норматив">
				</form>
			</div>
		</div>
	</div>
</div>