<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>

		<div class="title_right">
			<h3><small></small></h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2>Список сданных нормативов</h2>
					<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams"
							 class="table table-bordered table-hover table-condensed editable-table my-table"
							 ng-form="tableForm" disable-filter="isAdding">
					<colgroup>
						<col width="25%" />
						<col width="25%" />
						<col width="12%" />
						<col width="12%" />
						<col width="12%" />
						<col width="13%" />
					</colgroup>

					<tr ng-repeat="row in $data" ng-form="rowForm">
						<td data-title="'Студент'" sortable="'studentName'"
								ng-class="studentName.$dirty ? 'bg-warning' : ''"
								ng-form="studentName">
							<span class="editable-text" ng-hide="row.isEditing">{{row.studentName}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="studentName.$invalid && studentName.$dirty ? 'has-error' : ''">
								<input type="text" name="studentName" ng-model="row.studentName"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'Название норматива'" sortable="'normName'"
								ng-class="normName.$dirty ? 'bg-warning' : ''"
								ng-form="normName">
							<span class="editable-text" ng-hide="row.isEditing">{{row.normName}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="normName.$invalid && normName.$dirty ? 'has-error' : ''">
								<input type="text" name="normName" ng-model="row.normName"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'Дата'" sortable="'date'"
								ng-class="date.$dirty ? 'bg-warning' : ''"
								ng-form="date">
							<span class="editable-text" ng-hide="row.isEditing">{{row.date | date: 'dd.MM.yyyy'}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="date.$invalid && date.$dirty ? 'has-error' : ''">
								<input type="text" name="date" datetime="dd-MM-yyyy" ng-model="row.date"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'Результат'" sortable="'result'"
								ng-class="result.$dirty ? 'bg-warning' : ''"
								ng-form="result">
							<span class="editable-text" ng-hide="row.isEditing">{{row.result}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="result.$invalid && result.$dirty ? 'has-error' : ''">
								<input type="text" name="result" ng-model="row.result"
											 class="editable-input form-control input-sm" required />
							</div>
						</td>
						<td data-title="'Оценка'" sortable="'mark'"
								ng-class="mark.$dirty ? 'bg-warning' : ''"
								ng-form="mark">
							<span class="editable-text" ng-hide="row.isEditing">{{row.mark}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="mark.$invalid && mark.$dirty ? 'has-error' : ''">
								<input type="number" name="result" ng-model="row.mark"
											 class="editable-input form-control input-sm" required />
							</div>
						</td>

						<td>
							<button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing"
											ng-disabled="rowForm.$pristine || rowForm.$invalid">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</table>

				<a class="btn btn-default"
					 ng-click="formShown = !formShown; selectedStudent.value = ''; selectedNorm.value = ''; norm.date = datePicker.date">
					<span ng-hide="formShown">Добавить сданный норматив</span>
					<span ng-show="formShown">Скрыть форму</span>
				</a>
				{{norm}}
				<form ng-show="formShown" class="form-horizontal" ng-submit="addPassedNorm(norm)" name="passedNorm" novalidate>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedStudent.value" theme="bootstrap">
								<ui-select-match placeholder="Выберите студента">
									<span ng-bind="$select.selected.name + ', группа:' + $select.selected.groupNumber"></span>
								</ui-select-match>
								<ui-select-choices repeat="student in (students | filter: $select.search)">
									<span ng-bind-html="student.name +  ', группа:' + student.groupNumber | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedStudent.value"
								 ng-click="selectedStudent.value = null;"></i>
						</div>
					</div>

					<div ng-show="selectedStudent.value">

						<div class="form-group">
							<div class="col-xs-6">
								<ui-select ng-model="selectedNorm.value" theme="bootstrap" required>
									<ui-select-match placeholder="Выберите норматив">
										<span ng-bind="$select.selected.name"></span>
									</ui-select-match>
									<ui-select-choices repeat="norm in (norms | filter: $select.search)">
										<span ng-bind-html="norm.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<i class="icon--close fa fa-times" ng-show="selectedNorm.value"
									 ng-click="selectedNorm.value = null;"></i>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<input date-range-picker ng-model="datePicker.date" options="datePicker.options" type="text"
											 class="form-control"
											 placeholder="Дата" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<input ng-model="norm.result" type="text" class="form-control" placeholder="Результат">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<input ng-model="norm.mark" type="number" class="form-control" placeholder="Оценка" required>
							</div>
						</div>
					</div>

					<input type="submit" class="btn btn-primary btn-form" value="Добавить норматив"
								 ng-disabled="passedNorm.$invalid">
				</form>
			</div>
		</div>
	</div>
</div>