<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Нормативы<small></small></h3>
        </div>

        <div class="title_right">
            <h3><small></small></h3>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Список нормативов<small></small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Критерий 1</th>
                                    <th>Критерий 2</th>
                                    <th>Критерий 3</th>
                                    <th>Количество</th>
                                </tr>
                                </thead>


                                <tbody>
                                <tr>
                                    <td>Прыжки через костёр</td>
                                    <td>Необходимо прыгнуть через костёр как можно дальше</td>
                                    <td>1.2</td>
                                    <td>1.5</td>
                                    <td>1.8</td>
                                    <td>Да</td>
                                </tr>
                                <tr>
                                    <td>Бег на 100 метров</td>
                                    <td>Необходимо пробежать 100 метров за наименьшее время</td>
                                    <td>7.5</td>
                                    <td>9.5</td>
                                    <td>10.5</td>
                                    <td>Нет</td>
                                </tr>

                                </tbody>
                            </table>
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Добавить новый норматив</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
<!-- таблицы -->