<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Список нормативов</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams" class="table table-stripedtable-bordered">
					<tr ng-repeat="norm in $data">
						<td data-title="'Название'" sortable="'name'">{{norm.name}}</td>
						<td data-title="'Описание'" sortable="'definition'">{{norm.definition}}</td>
						<td data-title="'Критерий 1'" sortable="'point1'">{{norm.point1}}</td>
						<td data-title="'Критерий 2'" sortable="'point2'">{{norm.point2}}</td>
						<td data-title="'Критерий 3'" sortable="'point3'">{{norm.point3}}</td>
						<td data-title="'Тип'" sortable="'count'">{{norm.count ? 'На количество' : 'На скорость'}}</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown">
					<span ng-hide="formShown">Добавить норматив</span>
					<span ng-show="formShown">Скрыть форму</span>
				</a>

				<form ng-show="formShown" class="form-horizontal" ng-submit="addNorm(norm)"
							name="newNormForm" novalidate>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.name" type="text" class="form-control" placeholder="Название" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<input ng-model="norm.definition" type="text" class="form-control" placeholder="Описание">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.point1" type="text" class="form-control" placeholder="Критерий 1">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.point2" type="text" class="form-control"  placeholder="Критерий 2">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="norm.point3" type="text" class="form-control" placeholder="Критерий 3">
						</div>
					</div>
					<div class="form-group">
						<p>Тип</p>
							<label class="radio-inline">
								<input ng-model="norm.count" type="radio" name="count"
																	 value="true"
																	 required> На количество
							</label>
							<label class="radio-inline">
								<input ng-model="norm.count" type="radio" name="count"
																	 value="false"
																	 required>
														На скорость
							</label>
					</div>

					<input type="submit" class="btn btn-primary btn-form" value="Добавить норматив"
								 ng-disabled="newNormForm.$invalid">
				</form>

			</div>
		</div>
	</div>
</div>