	<div class="main_container clearfix">
		<div class="col-md-3 left_col col-sm-3">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a href="#"><i ></i> <span></span></a>
				</div>

				<div class="clearfix"></div>

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<h3>Навигация по сайту</h3>

						<ul class="nav side-menu">
							<li ng-repeat="item in menu track by $index" ng-class="{active: tab.isOpened($index)}">
								<a ng-click="tab.open($index)"><i class="fa" ng-class="item.icon"></i>{{item.title}}<span
										class="fa fa-chevron-down"></span>
								</a>
								<!--ng-show="tab.isOpened($index)"-->
								<ul class="nav child_menu nested-nav" ng-class="{'nav-opened': tab.isOpened($index)}">
									<li ng-repeat="link in item.content"><a ui-sref="{{link.href}}">{{link.name}}</a></li>
								</ul>
							</li>
						</ul>

					</div>
					<!-- ЛК-->
					<div class="menu_section">

						<h3>Личный кабинет</h3>
						<ul class="nav side-menu">
							<li><a><i></i> Войти <span></span></a>

							</li>
							<li><a href="#"><i></i> Зарегистрироваться <span></span></a>

							</li>

						</ul>
					</div>
				</div>
				<!-- ЛК-->
				<!-- /sidebar menu -->

				<!-- /menu footer buttons -->
				<!--<div class="sidebar-footer hidden-small">
					<a data-toggle="tooltip" data-placement="top" title="Settings">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</a>
					<a data-toggle="tooltip" data-placement="top" title="FullScreen">
						<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
					</a>
					<a data-toggle="tooltip" data-placement="top" title="Lock">
						<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					</a>
					<a data-toggle="tooltip" data-placement="top" title="Logout">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
					</a>
				</div>-->
				<!-- /menu footer buttons -->


			</div>
		</div>

		<div ui-view class="right_col" role="main"></div>
	</div>
