<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2 class="attendance__title" ng-click="setTab(1);"
							ng-class="{'attendance__title--active': isSet(1)}">Просмотреть посещаемость</h2>
					<h2 class="attendance__title" ng-click="setTab(2)"
							ng-class="{'attendance__title--active': isSet(2)}">Добавить сведения</h2>
					<div class="clearfix"></div>
			</div>


			<!-- TAB 1-->
			<div class="x_content" ng-show="isSet(1)">

				<div class="row attendance__wrapper">
					<form name="attendanceForm" ng-submit="getAttendanceInfo(attendance)" novalidate>
						<div class="data-select col-xs-3">
							<ui-select ng-model="chosenFaculty.value" theme="bootstrap" required>
								<ui-select-match placeholder="Выберите факультет">
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="faculty in (faculties | filter: $select.search)">
									<span ng-bind-html="faculty.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="attendance.faculty"
								 ng-click="attendance.faculty = {};"></i>
						</div>

						<div class="data-select col-xs-3">
							<ui-select ng-model="attendance.course" theme="bootstrap" required>
								<ui-select-match placeholder="Выберите курс">
									<span ng-bind="$select.selected"></span>
								</ui-select-match>
								<ui-select-choices repeat="course in (courses | filter: $select.search)">
									<span ng-bind-html="course | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="attendance.course"
								 ng-click="attendance.course = null;"></i>
						</div>

						<div class="data-select col-xs-3">
							<input date-range-picker ng-model="datePicker.date" options="datePicker.options" type="text"
										 class="form-control"
										 placeholder="Выберите период" required>
						</div>
						<div class="col-xs-3">
							<input type="submit" class="btn btn-success" value="Запросить" ng-disabled="attendanceForm.$invalid">
						</div>
					</form>
				</div>


				<table ng-table-dynamic="tableParams with cols" class="table table-condensed table-striped table-bordered">
					<tr ng-repeat="row in $data">
						<td ng-repeat="col in $columns">{{row[col.field]}}</td>
					</tr>
				</table>
			</div>


			<!-- TAB 2-->

			<div class="x_content" ng-show="isSet(2)">

				<div class="row attendance__wrapper">
					<form name="setAttendanceForm" ng-submit="getStudents()" novalidate>
						<div class="data-select col-xs-3">
							<ui-select ng-model="chosenFaculty.value" theme="bootstrap" required>
								<ui-select-match placeholder="Выберите факультет">
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="faculty in (faculties | filter: $select.search)">
									<span ng-bind-html="faculty.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon&#45;&#45;close fa fa-times" ng-show="attendance.faculty"
								 ng-click="attendance.faculty = {};"></i>
						</div>

						<div class="data-select col-xs-3">
							<ui-select ng-model="setAttendance.course" theme="bootstrap" required>
								<ui-select-match placeholder="Выберите курс">
									<span ng-bind="$select.selected"></span>
								</ui-select-match>
								<ui-select-choices repeat="course in (courses | filter: $select.search)">
									<span ng-bind-html="course | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon&#45;&#45;close fa fa-times" ng-show="attendance.course"
								 ng-click="attendance.course = null;"></i>
						</div>


						<div class="col-xs-3">
							<input type="submit" class="btn btn-success" value="Запросить" ng-disabled="setAttendanceForm.$invalid">
						</div>
					</form>
				</div>

				<div class="row" style="margin-bottom: 20px">
					<div class="col-xs-3 col-xs-offset-6" style="text-align: right; line-height: 34px ">
						Выберите дату:
					</div>
					<div class="col-xs-3">
						<input date-range-picker ng-model="singleDatePicker.date" options="singleDatePicker.options" type="text"
									 class="form-control"
									 placeholder="Дата" required>
					</div>
				</div>

				<form name="myForm">
					<table ng-table="studentsTableParams" class="table table-condensed table-bordered table-striped">
						<colgroup>
							<col width="40%" />
							<col width="40%" />
							<col width="20%" />
						</colgroup>

						<tr ng-repeat="row in $data">
							<td data-title="'Студент'" filter="{studentName: 'text'}" sortable="'studentName'">{{row.studentName}}</td>

							<td data-title="'Преподаватель'" filter="{teacherName: 'text'}" sortable="'teacherName'">{{row.teacherName}}</td>

							<td data-title="chosenDate">
								<ui-select ng-model="row.visit" theme="bootstrap" required>
									<ui-select-match placeholder="Посещаемость">
										<span ng-bind="$select.selected"></span>
									</ui-select-match>
									<ui-select-choices repeat="visit in (visitStatus | filter: $select.search)">
										<span ng-bind-html="visit | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</td>

						</tr>
					</table>
					<input type="submit" ng-click="setAttendanceInfo();" class="btn btn-primary btn-form" value="Сохранить"
								 ng-disabled="myForm.$invalid">
				</form>

			</div>
		</div>
	</div>
</div>