<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2>Список студентов</h2>

					<div class="file-upload" style="float: right">
						<button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="*" ngf-max-height="1000"
										ngf-max-size="5MB">
							Выбрать файл</button>
						<div class="file-info"> Файл {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
							<span class="progress" ng-show="f.progress >= 0">
								<div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
							</span>
						</div>
						{{errorMsg}}
					</div>

					<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams"
							 class="table table-bordered table-hover table-condensed editable-table my-table"
							 ng-form="tableForm" disable-filter="isAdding">
					<colgroup>
						<col width="11%" />
						<col width="25%" />
						<col width="18%" />
						<col width="10%" />
						<col width="25%" />
						<col width="11%" />
					</colgroup>

					<tr ng-repeat="row in $data" ng-form="rowForm">

						<td data-title="'Номер зачётки'" sortable="'uniqID'"
								ng-class="uniqID.$dirty ? 'bg-warning' : ''"
								ng-form="uniqID">
							<span class="editable-text" ng-hide="row.isEditing">{{row.uniqID}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="uniqID.$invalid && uniqID.$dirty ? 'has-error' : ''">
								<input type="text" name="uniqID" ng-model="row.uniqID"
											 class="editable-input form-control input-sm" disabled required />
							</div>
						</td>

						<td data-title="'ФИО'" sortable="'name'" filter="{name: 'text'}" filter="{name: 'text'}"
								ng-class="name.$dirty ? 'bg-warning' : ''"
								ng-form="name">
							<span class="editable-text" ng-hide="row.isEditing">{{row.name}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''">
								<input type="text" name="name" ng-model="row.name"
											 class="editable-input form-control input-sm" required />
							</div>
						</td>

						<td data-title="'Медицинский допуск'" sortable="'medAccess'" filter="{medAccess: 'text'}"
								ng-class="row.medAccess === 'Нет' ? 'bg-danger' : ''"
								ng-form="medAccess">
							<span class="editable-text" ng-hide="row.isEditing">{{row.medAccess}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="medAccess.$invalid && medAccess.$dirty ? 'has-error' : ''">

								<ui-select ng-model="row.medAccess" theme="bootstrap" required>
										<ui-select-match>
											<span ng-bind="$select.selected.name || row.medAccess"></span>
										</ui-select-match>
										<ui-select-choices repeat="medAccess in (medAccesses | filter: $select.search)">
											<span ng-bind-html="medAccess.name | highlight: $select.search"></span>
										</ui-select-choices>
								</ui-select>

								<!--<input type="text" name="medAccess" ng-model="row.medAccess"
											 class="editable-input form-control input-sm" />-->
							</div>
						</td>

						<td data-title="'Номер группы'" sortable="'groupNumber'" filter="{groupNumber: 'number'}"
								ng-class="groupNumber.$dirty ? 'bg-warning' : ''"
								ng-form="groupNumber">
							<span class="editable-text" ng-hide="row.isEditing">{{row.groupNumber}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="groupNumber.$invalid && groupNumber.$dirty ? 'has-error' : ''">
								<ui-select ng-model="row.groupNumber" theme="bootstrap" required>
									<ui-select-match>
										<span ng-bind="$select.selected.groupNumber || row.groupNumber"></span>
									</ui-select-match>
									<ui-select-choices repeat="group in (groups | filter: $select.search)">
										<span ng-bind-html="group.groupNumber | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</td>

						<td data-title="'ФИО преподавателя'" sortable="'teacherName'" filter="{teacherName: 'text'}"
								ng-class="teacherName.$dirty ? 'bg-warning' : ''"
								ng-form="teacherName">
							<span class="editable-text" ng-hide="row.isEditing">{{row.teacherName}}</span>
							<div class="controls" ng-show="row.isEditing" ng-class="teacherName.$invalid && teacherName.$dirty ? 'has-error' : ''">
								<ui-select ng-model="row.teacherName" theme="bootstrap" required>
									<ui-select-match>
										<span ng-bind="$select.selected.name || row.teacherName"></span>
									</ui-select-match>
									<ui-select-choices repeat="teacher in (teachers | filter: $select.search)">
										<span ng-bind-html="teacher.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</td>

						<td>
							<button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing"
											ng-disabled="rowForm.$pristine || rowForm.$invalid">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"
											confirm-title="ВНИМАНИЕ!"
											confirm="Удаление студента приведет к удалению ВСЕХ записей о его посещаемости и успеваемости.
											Удалить все равно?"
											confirm-ok="Да, удалить студента" confirm-cancel="Нет, отмена">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown; student = {}; selectedGroup.value = ''; selectedTeacher.value = '';">
					<span ng-hide="formShown">Добавить студента</span>
					<span ng-show="formShown">Скрыть форму</span>
				</a>


				<!--ADDING FORM-->

				<form ng-show="formShown" class="form-horizontal" ng-submit="addStudent(student)">
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="student.uniqID" type="text" class="form-control" placeholder="Номер зачётки" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<input ng-model="student.name" type="text" class="form-control" placeholder="ФИО полностью" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedAccess.value" theme="bootstrap" required>
								<ui-select-match placeholder="Медицинский допуск">
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="medAccess in (medAccesses | filter: $select.search)">
									<span ng-bind-html="medAccess.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedAccess.value"
								 ng-click="selectedAccess.value = null;"></i>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedGroup.value" theme="bootstrap" required>
								<ui-select-match placeholder="Выберите номер группы">
									<span ng-bind="$select.selected.groupNumber"></span>
								</ui-select-match>
								<ui-select-choices repeat="group in (groups | filter: $select.search)">
									<span ng-bind-html="group.groupNumber | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedGroup.value"
								 ng-click="selectedGroup.value = null;"></i>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedTeacher.value" theme="bootstrap">
								<ui-select-match placeholder="Выберите преподавателя">
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="teacher in (teachers | filter: $select.search)">
									<span ng-bind-html="teacher.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedTeacher.value"
								 ng-click="selectedTeacher.value = null;"></i>
						</div>
					</div>

					<input type="submit" class="btn btn-primary btn-form" value="Добавить студента">
				</form>
			</div>
		</div>
	</div>
</div>