<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>{{title}}</h3>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- таблицы -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
					<h2>Список студентов</h2>
					<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table ng-table="tableParams" id="datatable" class="table table-striped table-bordered">
					<tr ng-repeat="student in $data">
						<td data-title="'Номер зачётки'" sortable="'uniqID'">{{student.uniqID}}</td>
						<td data-title="'ФИО'" sortable="'name'">{{student.name}}</td>
						<td data-title="'Медицинский допуск'" sortable="'medAccess'">{{student.medAccess}}</td>
						<td data-title="'Номер группы'" sortable="'groupNumber'">{{student.groupNumber}}</td>
						<td data-title="'ФИО преподавателя'" sortable="'teacherName'">{{student.teacherName }}</td>
					</tr>
				</table>

				<a class="btn btn-default" ng-click="formShown = !formShown; student = {}">
					<span ng-hide="formShown">Добавить студента</span>
					<span ng-show="formShown">Скрыть форму</span>
				</a>

				<form ng-show="formShown" class="form-horizontal" ng-submit="addStudent(student)">
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="student.uniqID" type="text" class="form-control" placeholder="Номер зачётки" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<input ng-model="student.name" type="text" class="form-control" placeholder="ФИО полностью" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input ng-model="student.medAccess" type="text" class="form-control" placeholder="Медицинский допуск">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedGroup.value" theme="bootstrap">
								<ui-select-match placeholder="Выберите номер группы">
									<span ng-bind="$select.selected.groupNumber"></span>
								</ui-select-match>
								<ui-select-choices repeat="group in (groups | filter: $select.search)">
									<span ng-bind-html="group.groupNumber | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedGroup.value"
								 ng-click="selectedGroup.value = null;"></i>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<ui-select ng-model="selectedTeacher.value" theme="bootstrap">
								<ui-select-match placeholder="Выберите преподавателя">
									<span ng-bind="$select.selected.name"></span>
								</ui-select-match>
								<ui-select-choices repeat="teacher in (teachers | filter: $select.search)">
									<span ng-bind-html="teacher.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<i class="icon--close fa fa-times" ng-show="selectedTeacher.value"
								 ng-click="selectedTeacher.value = null;"></i>
						</div>
					</div>

					<input type="submit" class="btn btn-primary btn-form" value="Добавить студента">
				</form>
			</div>
		</div>
	</div>
</div>